<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Error {{placeholder "http.error.status_code"}} - Forever's Home</title>
      <link rel="icon" type="image/png" href="/assets/logohome.png" />
    <style>
    	@import url("/style.css");
    :root {
      --theme: #813d9c;
      --theme-text: #813d9c;
      --theme-grad: linear-gradient(125deg, #613583 0%, #813d9c 100%);
    }
    @media only screen and (prefers-color-scheme: dark) {
        :root {
            --theme-text: #c061cb;
         }
      }
    </style>
	    <script defer data-domain="aroace.space" src="https://plausible.amongtech.cc/js/plausible.js"></script>
</head>
<body>
<div id="top">
  <img src="/assets/picrew.png" style="aspect-ratio: 1 / 1; border-radius: 50%;" alt="Profile"/>
  <h1 style="margin-block-end: 0;">
    Forever
  </h1>
  <h2 style="text-align: center; color: var(--bg); font-size: clamp(5pt, 10vw, 3vh);">Pronouns: they/them, she/her</h2>
</div>
<div class="imgtxt">
<img loading="lazy" src='https://http.cat/{{placeholder "http.error.status_code"}}.jpg' alt='HTTP Error Cat {{placeholder "http.error.status_code"}}' />
<div>
<h2>You've encountered an error</h2>
<p>Something happened when trying to load this page and it gave an error {{placeholder "http.error.status_code"}} while loading. </p>
</div>
</div>
<div class="imgtxt revbox">
<img loading="lazy" src="/assets/library.jpg" alt="Library" style="aspect-ratio: 4000 / 2500;" />
<div>
<h2>What does this mean?</h2>
<p>If the number of the error starts with a 1, 2, or 3, try reloading. If it starts with a 4, it means something happened with your browser. If it starts with a 5, that means something happened to the server, and that you should email Forever with the link at the bottom.</p>
</div>
</div>
<div class="imgtxt">
<img loading="lazy" src="/assets/herbgarden.jpg" alt="A herb garden at dawn" width="aspect-ratio: 4/3;" />
<div>
<h2>Why did this happen?</h2>
<p>It's possible you found an incorrect page, forgot to put a slash or extension after the URL. Maybe try again with those, or if you're not finding what you're looking for, return to the home page.</p>
</div>
</div>
<div id="links">
<h1 style="flex-width: 1; flex-basis: 100%;">What to do?</h1>
<a id="issue" class="button" target="_blank" href='mailto:forever@aroace.space?subject=Error%20{{placeholder "http.error.status_code"}}%20on%20aroace.space&body=I%20found%20an%20error%20{{placeholder "http.error.status_code"}}%20on%20your%20site%2C%20aroace.space.%20Could%20you%20please%20look%20into%20this%3F%20Thanks!'>
	<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 16 16" width="16px"><g fill="#813d9c"><path d="m 2.1875 2 c -1.207031 0 -2.1875 0.800781 -2.1875 2 v 7.976562 c 0 1.203126 0.980469 2 2.1875 2 h 11.625 c 1.207031 0 2.1875 -1.015624 2.1875 -2.21875 v -7.539062 c 0 -1.199219 -0.980469 -2.21875 -2.1875 -2.21875 z m -0.1875 2 h 12 v 8 h -12 z m 0 0" fill-rule="evenodd"/><path d="m 14.691406 2.605469 l -6.699218 5.261719 l -5.691407 -4.265626 l -0.601562 0.796876 l 6.308593 4.734374 l 7.300782 -5.738281 z m 0 0"/></g></svg>
	Send a report
</a>
  <a class="button" href="/">
	  <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 16 16" width="16px"><title>←</title><g fill="#813d9c"><path d="m 11.644531 2.707031 l -1.414062 -1.414062 l -6.707031 6.707031 l 6.707031 6.707031 l 1.414062 -1.414062 l -5.292969 -5.292969 z m 0 0"/><path d="m 10.9375 15 h 1 v -1 h -1 z m 0 0"/><path d="m 10.9375 2 h 1 v -1 h -1 z m 0 0"/><path d="m 10.9375 3 c 0.554688 0 1 -0.449219 1 -1 c 0 -0.554688 -0.445312 -1 -1 -1 s -1 0.445312 -1 1 c 0 0.550781 0.445312 1 1 1 z m 0 0"/><path d="m 10.9375 15 c 0.554688 0 1 -0.449219 1 -1 c 0 -0.554688 -0.445312 -1 -1 -1 s -1 0.445312 -1 1 c 0 0.550781 0.445312 1 1 1 z m 0 0"/></g></svg>
	  Go back home
  </a>
</div>
</body>
</html>




